.details-bg {
    padding-top: 50px;
    background-color: black;
    min-height: 93vh;
  }

.details-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: white;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    
  }
  
  .details-left .poster {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  
  .details-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .details-right h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .overview {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
  
  .loading {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .details-right-h-b {
    display: flex;
    justify-content: space-between;
  }

  .details-right-h-b button{
    align-self: center;
    padding: 8px 16px;
    transition: ease 0.2s;
    font-family: sans-serif;
    background-color: rgba(0, 115, 128);
    color: white;
    border: none;
    border-radius: 3px;
  }
 
  .details-right-h-b button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  