.movies-container{
    background-color: rgb(36, 35, 35);
    min-height: 700vh;
    color:white;
    display: flex;
    flex-direction: column;
}

.top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  min-height: 400px;
  border-bottom: 2px solid rgb(0, 115, 128);
  
}

.top-5{
    padding: 30px;
    display: flex;
}

.top-5 img{
    max-height: 300px;
    cursor: pointer;
    transition: 0.3s ease;
}
.top-5 img:hover{
    transform: scale(1.3);
}

.week-5{
    display: flex;
    
}

.item-text{
    writing-mode: vertical-rl;
    text-orientation: upleft;
    transform: rotate(180deg); 
    letter-spacing: 3px;
    color: white;
}
.item{
    display: flex;
    align-items: flex-end;
    position: relative;

}

.item-number{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    color: rgb(0, 115, 128);
    padding-right: 7px;
    
}


