.home-page-container{
    background-color: rgb(36, 35, 35);
    min-height: 70vh;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container{
    display: flex;
    max-width: 1300px;
    background-color: rgb(61, 57, 57);
    border-radius: 25px;
    background: linear-gradient(to right, rgb(61, 57, 57) 70%, rgba(61, 57, 57, 0) 100%);
}

.home-page-welcoming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    min-width: 600px;
}

.home-nav{
    background-color: rgb(0, 115, 128);
    padding: 10px 55px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.welcoming-image{
    position: relative;
    width: 700px; 
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.welcoming-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, rgba(61, 57, 57, 1), rgba(61, 57, 57, 0));
    z-index: 2;
    pointer-events: none;
  }
  
  .welcoming-image::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
  }
  
  .welcoming-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 400px;
    border-radius: 20px;
    z-index: 1; 
    position: relative;
  }

  .secondary-container-left{
    max-width:700px;
    background-color: rgb(61, 57, 57);
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .secondary-container-left li{
    color: white;
  }

  .sec-con-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .sec-con-icons img{
    width: 20px;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 115, 128);
  }
  

  .lower-home{
    background-color: rgb(61, 57, 57);
    display: flex;
  }

  .secondary-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .secondary-container-right p{
    color:rgb(0, 115, 128);
  }

  .topics{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(34, 33, 33);
    border-radius: 15px;
    margin-top: 15px;
  }

  .topics img{
    width: 150px;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: fill;
    
  }
  .topics-text {
    display: flex;
    flex-direction: column;  
    gap: 5px;
    width: 100%;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 20px;
  }

  @media screen and (max-width: 768px) {
    
    .sub-container{
      flex-direction: column;
    padding: 1rem;
    background: rgb(61, 57, 57);
    }

    .home-page-welcoming{
      min-width: 100%;
      text-align: center;
      padding: 1rem;
      font-size: 15px;
    }

    .welcoming-image {
      width: 100%;
      height: auto;
      max-height: 250px;
    }

    .secondary-container-left,
    .secondary-container-right {
      max-width: 100%;
      width: 100%;
      padding: 1rem;
    }

    .lower-home {
      flex-direction: column;
    }
  
    .topics {
      flex-direction: column;
      width: 100%;
    }

    .topics img {
      width: 100%;
      border-radius: 0 0 15px 15px;
    }
  
    .topics-text {
      padding: 1rem;
      align-items: center;
      text-align: center;
    }
  }