.header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 50px;
    font-size: 20px;
    background-color: rgb(0, 115, 128);
    width: 100%;
    align-items: center;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 115, 128);
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.nav *:hover{
    color: black;
    transform: scale(1.2);
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left: 60px;
    font-size: 25px;
    font-weight: 600;


}
.icon img{
    max-height: 50px;
    padding-left: 80px;
}