.header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 50px;
    font-size: 20px;
    background-color: rgb(0, 115, 128);
    width: 100%;
    align-items: center;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 115, 128);
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.nav *:hover{
    color: black;
    transform: scale(1.2);
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left: 60px;
    font-size: 25px;
    font-weight: 600;


}
.icon img{
    max-height: 50px;
    margin-left: 20px;
}

.search input{
    min-width: 300px;
    font-family: sans-serif;
    min-height: 20px;
}
.search input:focus{
outline: none;
}

.search button{
    background-color: black;
    color: white;
    transition: ease 0.2s;
    border-radius: 2px;
    font-family: sans-serif;
    min-height: 21px;
}
.search button:hover{
    cursor: pointer;
    background-color: rgb(40, 40, 40);
    
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .icon {
        flex-direction: column;
        align-items: center;
      }
    
      .icon p {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
      }

      .icon img {
        margin-left: 0;
        max-height: 40px;
      }
    
      .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
      }

      .nav a {
        margin-right: 0;
        font-size: 16px;
        padding: 8px 12px;
      }
    
      .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
      }
     
}