p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer-container{
    
    background-color: rgb(0, 115, 128);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.footer-container div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quick-links{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    line-height: 28px;
}
.quick-links a{
    text-decoration: none;
    color: white;
}
.quick-links a:hover{
    color: black;
    transition: ease 0.3s;
}
.social{
    display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: start;
  margin-right: 100px;
    
}
.social a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    line-height: 25px;
}
.social a:hover{
    color: black;
    transform: scale(1.2);
}
.social p {
    margin: 0;
}

.bot-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 74, 82);
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.emotes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
